@media screen and (min-width: 768px) and (max-width: 1199px) {
  .card-img-top {
    height: 200px !important;
  }
}

@media screen and (min-width: 576px) and (max-width: 767px) {
  .card-img-top {
    height: 160px !important;
  }
}

@media screen and (max-width: 575px) {
  .card-img-top {
    height: 90px !important;
  }
}

.navbar-collapse {
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.info-card {
  min-height: 300px;
  background-color: rgba(128, 128, 128, 0.1) !important;
}

.card-img-top {
  height: 200px;
  -o-object-fit: cover;
     object-fit: cover;
}

.footer-text {
  font-size: 14px !important;
}
